* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.task-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {    
    text-transform: uppercase; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(to left,
    #e03345,
    #04d6f1,
    #015c68,
    #02a2b8,
    #ffb259,
    #e03345,
    #b43b47,
    #b43b47,
    rgb(224, 7, 7));
    -webkit-background-clip: text;
    color: transparent;
}
.paragraph {
    max-width: 900px;
    margin:0 auto;
    line-height: 30px;
    font-size: 22px;
    text-align: justify;
    color:#42abf6;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.red-box {
    width: 150px;
    height: 80px;  
    background: #fd4241;
    position: absolute;
    bottom:20px;
}